<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

.fa-envelope{
    background:#cb2027;
color:white;
}
   
.pagination-container {
  padding-right: 18px;
  width: 100%;
}

.container.recipe-container {
  padding: 40px;
}

.recipe-title {
  margin-bottom: 20px;
}